* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 400px;
    height: 100%;
    position: relative;
}

#calendar{
    width: 100%;
    position: absolute;
    margin-left: 0px;
    margin-top: 30px;
}
